.RGB_Controle {
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(135, 14, 255), rgb(1, 124, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {

    min-width: 70%;
}

.card-body {
    height: 250px;
}

/* barra colorida */
.card:after{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;  
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(135, 14, 255), rgb(1, 124, 255),  rgb(47, 233, 87));  
      height: 6px;
      border-radius: 5px 5px 0 0;
  }
/* 
  html:after{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;  
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(135, 14, 255), rgb(1, 124, 255),  rgb(47, 233, 87));  
      height: 6px;
      border-radius: 5px 5px 0 0;
  } */

h2 {
    text-align: center;
    padding-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    width: 100%;
}

.input-group > .form-control {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


/* configurações de modo claro/escuro */
:root {
    --cor-fundo-claro: #ffffff; /* cor de fundo padrão (claro) */
    --cor-texto-claro: #222222; /* cor do texto padrão (claro) */
    --cor-fundo-escuro: #272727; /* cor de fundo em modo escuro */
    --cor-texto-escuro: #ffffff; /* cor do texto em modo escuro */
}

body {
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto-claro);
}

.dark-mode {
    background-color: var(--cor-fundo-escuro) !important;
    color: var(--cor-texto-escuro) !important;
}


/* CSS para a barra de navegação no modo claro */
.header.navbar {
    background-color: var(--cor-fundo-claro) !important;
}

.header.navbar .nav-item .nav-link {
    color: var(--cor-texto-claro) !important;
}

/* CSS para a barra de navegação no modo escuro */
.dark-mode .header.navbar {
    background-color: var(--cor-fundo-escuro) !important;
}

.dark-mode .header.navbar .nav-item .nav-link {
    color: var(--cor-texto-escuro) !important; /* Altera a cor do texto dos nav-links para o modo escuro */
}

.dark-mode a {
    color: var(--cor-texto-escuro) !important;
}

/*o formulário no modo escuro */
.dark-mode .card {
    background-color: #333; /* or de fundo para o modo escuro */
    color: var(--cor-texto-escuro) !important; /* altera a cor do texto do formulário para o modo escuro */
}

.toggle-button {
    position: fixed;
    top: 70px; /* Altura da barra de navegação */
    right: 20px ;
    z-index: 9999; /* Certifica-se de que o botão está acima de outros elementos */
}
.toggle-button {
    border: 0;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
}

.toggle-button:hover {
    background-color: rgb(158, 158, 158);
    transition: 0.5s;
}

/* Mudando darkmode para botão de lua */
.dark-mode button {
    color: var(--cor-texto-escuro) !important;
    background-color: var(--cor-fundo-escuro) !important;
}

.divisao {
    margin-top: 30px;
}

/* NNOVA EDIÇÃO: MAS ENTORTOU OS LABEL */
#campo_form {
    display: flex;
    flex-direction: column;
}

#select_form select {
    width: 100% !important;
}

#button_form {
    display: flex;
    justify-content: center;
}

.dark-mode .navbar-toggler{
    border-color: rgb(92, 92, 92);
}
nav { 
    background-color: #ffffff;
    z-index: 99999999;
}
.dark-mode nav{
    background-color: var(--cor-fundo-escuro);
}